.heading-wrapper {
    // margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading__text {
    h1 {
        color: #43597D;
    }

    span {
        color: #FFA600;
        opacity: 0.8
    }

    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.heading__before,
.heading__after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #FFA600;

}

@media screen and (max-width: 640px) {
    .heading-wrapper {
        justify-content: space-between;
    }

    .heading__text {
        font-size: 1.5rem;
    }
}