.heading-wrapper {
    // margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading__text {
    // display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    // h1 {
    //     margin: 0;
    // }
}

.heading__before,
.heading__after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #FFA600;

}