.logo {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 1rem;
    color: #43597d;
    align-items: center;

    .firstLetter {
        background-color: #FFA600;
        font-weight: bold;
        padding: 0.375rem 0.9375rem;
        color: white;
        border-radius: 0.375rem;
    }
}